.component {
  margin: 0 auto;
  max-width: 60rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 1em;
}

.header {
  text-align: center;
}

.footer {
  text-align: center;
  margin-bottom: 2em;
}
