.error {
  composes: centered from '../components/shared.module.css';
  font-size: x-large;
}

.header {
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.buttonContainer {
  text-align: center;
  margin: 1em 0;
}

.ImageInput > main > .Buttons > .Button, .ImageInput > main > .Buttons > .ToggleButton {
  margin: 0 1em;
}
