.root {
  display: flex;
  flex-direction: row;
}

.stage {
  flex: 1;
  height: 100vh;
}

.header {
  text-align: center;
}

.gridSize {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
  margin-right: 1em;
}

.importButton {
  grid-column: 2;
}
