.ViewPuzzle .WordList h3 {
  text-align: center;
}

.ViewPuzzle .BackButton .Button {
  margin-left: 40px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.ViewPuzzle .Expand {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 2em;
  margin-right: 2em;
}
