.ViewPuzzle .WordList h3 {
  text-align: center;
}

.ViewPuzzle .WordList {
	height: 100vh;
	overflow-y: auto;
	padding: 1em;
}

.ViewPuzzle .BackButton .Button {
  margin-left: 40px;
  margin-top: 2em;
  margin-bottom: 2em;
}
