.header {
  text-align: center;
}

.backButton {
  margin-left: 40px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.expand {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 2em;
  margin-right: 2em;
}
