.container {
  display: flex;
  flex-direction: row;

  height: 100vh;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: auto;
}

.sidebar {
  padding: 1em 2em;
  overflow-y: auto;
}

.button {
  margin-left: 20px;
  margin-bottom: 1em;
  width: 100%;
}

.loading {
  animation-name: pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes pulse {
  from {
    color: #333;
  }

  50% {
    color: #666;
  }

  to {
    color: #333;
  }
}
