.square {
	/* Responsive square */
	position: relative;
	height: 100%;
	width: 100%;
}

.square:before {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.node {
  composes: square;
}

.node:hover {
	background: #ddd;
}

.partOf {
	background: #ffeb3b;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: grid;
	width: 100%;
	height: 100%;
}

.content {
	align-self: center;
	justify-self: center;

	/* Needs to be above the the selection and partOf background */
	z-index: 10;
}
