.list {
	text-align: start;
}

.focused {
	animation: 0.7s ease-out in-focus forwards;
}

.listItem {
	padding: 0.5em;
	margin: 0.5em;
	cursor: pointer;
	white-space: nowrap;
}

.listItemInput {
  width: 100%;
}

.listItemContent {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.removeButton {
  margin-left: 1em;

  height: 1rem;
  width: 1rem;
  text-align: center;
}

.updatable .removeButton:hover {
	background: #ddd;
}

.nonUpdatable .listItem:hover, .static .listItem:focus {
	background: #ddd;
}

@keyframes in-focus {
	from { background: #F57F17; }
	to { background: #ddd; }
}
