.container {
  border-radius: 100%;
  composes: square from './shared.module.css';
}

.container:hover {
  background: #ddd;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
