* {
	box-sizing: border-box;
}

.App {
	text-align: center;
	font-family: monospace;
}

.App-header {
	background-color: #222;
	padding: 20px;
	color: white;
}

.container {
	margin: 1em;
}

.List {
	text-align: start;
}

.List li {
	padding: 0.5em;
	margin: 0.5em;
	cursor: pointer;
	white-space: nowrap;
}

.List li:hover {
	background-color: #ddd;
}

.List li > input {
	width: 100%;
}

.WordList {
	height: 100vh;
	overflow-y: scroll;
	padding: 1em;
}

@media print {
	.WordList {
		width: 100%;
		height: auto;
		overflow-y: visible;
	}

	.List li.Input {
		display: none;
	}
}
