.List {
	text-align: start;
}

.List li {
	padding: 0.5em;
	margin: 0.5em;
	cursor: pointer;
	white-space: nowrap;
}

.List li > input {
	width: 100%;
}

@media print {
	.WordList {
		width: 100%;
		height: auto;
		overflow-y: visible;
	}

	.List li.Input {
		display: none;
	}
}
