.List li.focused {
	animation: 0.7s ease-out in-focus forwards;
}

.List li > span {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.List li > span .Remove {
  margin-left: 1em;

  height: 1rem;
  width: 1rem;
  text-align: center;
}

.List.Updatable li > span .Remove:hover {
	background: #ddd;
}

.List.Static li:hover {
	background: #ddd;
}

@keyframes in-focus {
	from { background: #F57F17; }
	to { background: #ddd; }
}
