.Node {
	/* Responsive square */
	position: relative;
	height: 100%;
	width: 100%;
}

.Node:before {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.Node > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: grid;
	width: 100%;
	height: 100%;
}

.Node > div > span {
	align-self: center;
	justify-self: center;
}

.Node.partOf {
	background: #ffeb3b;
}

.Node.marked {
	background: #F57F17;
}

.Node:hover {
	background: #ddd;
}

